RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

Redirect 301 /aws.htm /aws
Redirect 301 /digital_ocean.htm /digital_ocean
